button{
  margin: 5px 15px 5px;
}

p.title.titulo{
  display: flex;
}

.quantidade{
  margin: 10px 15px 10px;
}

.carrinho{
  display: flex;
  flex-wrap: wrap;
}

input{
  max-width: 50px;
}

.column.carrinho{
  width: 400px;
  height: 540px;
}

.card.carrinho{
  height: 500px;
}
.card.nutricao{
  
  width: 200px;
  height: 280px;
}

